# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Environment secrets (DO NOT COMMIT SECRETS TO GITHUB)
.env
.env.local

# Temporary document processing folders
documind_*/
images/
*.pdf

# Operating system
.DS_Store
Thumbs.db
